<include file="Public:header" />
<!-- banner -->
<div class="banner-1">
	<div class="container">
		<!-- <h2>没错，这里就是文章的内容啦！</h2> -->
		<!-- <p>欢迎来到我的博客，有什么意见和建议，请不要发给我，发给我我也不会看，谢谢！</p> -->
	</div>
</div>
	<!-- technology-left -->
<div class="technology" style="margin-top: 0em;">
	<div class="container">
		<div class="col-md-9 technology-left">
			<div class="agileinfo">
				<!-- <div class="layui-main blog-container"> -->
						<div class="blog-detail-main">
								<blockquote class="layui-elem-quote">
										<span style="font-size:30px;">{$list['title']}</span><br><br>
										<span style="font-size:15px">
												作者：<cite style="color:#00BFFF;">{$list['author']}</cite>
										</span>&nbsp;
										<span style="font-size:15px">
												发表时间：<cite style="color:#20B2AA;">{$list['createdtime']}</cite>
										</span>&nbsp;
										<a href="#comment-m" style="font-size:15px">
												<span>
														<cite style="color:#DC143C;">{$comment}</cite> 评
												</span>
										</a>&nbsp;
										<span style="font-size:15px">
												<cite style="color:#20B2AA;">{$list['views']}</cite> 阅
												<span>
													<cite style="color:#DC143C;padding-left:10px;" id="changelove" >{$list['favourites']}</cite>
												</span>
										</span>&nbsp;
										<span class="stageBox">
											<div class="stage">
												<div id="favourites" class="heart"></div>
											</div>
										</span>
								</blockquote>
								<article class="blog-detail-content">
									{$list['synopsis']}
							  </article>
							  <br><br>
								<blockquote class="layui-elem-quote">
										<span style="font-size:15px">
											分类：
											<a class="btn btn-warning bounce-hover" href="javascript:void(0);">{$bloglabel}</a>
										</span>&nbsp;<br><br>
										<span style="font-size:15px">
											标签：
											<foreach item="keywords" name="keywords">
												<a class="btn btn-success shake-hover" href="javascript:void(0);">{$keywords}</a>
												<!-- &nbsp&nbsp -->
											</foreach>
										</span>
								</blockquote>
								<blockquote class="layui-elem-quote" id="comment-m">查看评论</blockquote>
								<br>
								<div class=""><!--blog-detail-comment-box-->
								    <form id="CommentForm" action="#" class="layui-form layui-form-pane" method="post">
											      <input type="hidden" name="articleid" value="{$list['id']}" />
														<div class="layui-form-item">
																<label class="layui-form-label">昵称</label>
																<div class="layui-input-block">
																		<input id="nickname" lay-verify="nickname" type="text" name="nickname" required placeholder="这里留下你的大名哦 ^_^ " class="layui-input">
																</div>
														</div>
														<div class="layui-form-item">
																<label class="layui-form-label">邮箱</label>
																<div class="layui-input-block">
																	<input id="email" lay-verify="email" type="email" name="email" required placeholder="这里留下你的邮箱哦，方便我们能联系到你吖 " class="layui-input">
																</div>
														</div>
														<div class="layui-form-item layui-form-text">
																<label class="layui-form-label">评论内容</label>
																<div class="layui-input-block">
																		<textarea id="comment-text" lay-verify="comment" name="comment" ></textarea>
																</div>
														</div>
														<div class="layui-form-item">
																<button class="layui-btn" lay-submit lay-filter="*">发表</button>
																<button type="reset" class="layui-btn layui-btn-primary">重置</button>
														</div>
														<!-- <div class="layui-form-item"> -->
															<!-- <button class="btn btn-primary" type="submit" lay-submit id="CommentSubmit">发表</button> -->
														<!-- </div> -->
								    </form>
						        <ul class="blog-detail-comment-list">
										</ul>
								</div>
				   </div>
			  <!-- </div> -->
     </div>
   </div>
<include file="Public:right" />
</div>
</div>
<include file="Public:footer" />
<script src="__PUBLIC__/Home/Js/Article/article.js"></script>
<script>
		layui.use(['layedit', 'util', 'jquery', 'form'], function () {
				layedit = layui.layedit
				    , util = layui.util
						, $ = layui.jquery
						, form = layui.form();
				//回到顶部
				util.fixbar();
				$('.blog-header-menu-icon').on('click', function () {
						var $nav = $('.blog-header-menu-nav');
						$nav.toggle();
				});
				//建立编辑器
				layeditIndex = layedit.build('comment-text', {
						tool: ['strong', 'italic', 'underline', '|', 'left', 'center', 'right', 'face'],
						height: 180
				});
				//自定义验证规则
				form.verify({
						nickname: function (value) {
								if (value === '') return '少侠，请留名^_^';
						},
						email: function (value) {
								if (value === '') return '少侠，请留下联系方式吧^_^';
								if (!/^(\w)+(\.\w+)*@(\w)+((\.\w+)+)$/.test(value)) {
										return '少侠，你留下的电子邮箱不对哦，再试试？';
								}
						},
						comment: function (value) {
								var v = layedit.getText(layeditIndex);
								if (v.length === 0) {
										return '少侠，既然来了，就留下点什么呗';
								}
								if (v.length <= 10) return '写得太少了，再写点吧.拜托了^_^';
						}
				});
		});

		//百度编辑器代码高亮
    SyntaxHighlighter.all();
</script>
