<include file="Public:header_backend" />
<include file="Public:menu_leftZiguan" />
<!--主题内容-->
<div id="page-wrapper">
	<div class="content">
        <div class="main-box">
            <!--尾部-->
            <div class="backlogBox">
                <div class="backlog">费腾博客plan A计划</div>
                <ul>
                    <li>
                        <a href="#">
                            1、1月13日前完成博客文章后台
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            2、1月15日完成博客前台列表
                        </a>
                    </li>
										<li>
												<a href="#">
														1、1月17日完成权限迁移和文章详情建议评论模块
										</li>
										<li>
												<a href="#">
														2、1月20日完成初步上线准备，开始搭建python和java模块
												</a>
										</li>
                </ul>
            </div>
        </div>
	</div>
</div>
<include file="Public:footer_backend" />
