<include file="Public:header"/>
<div class="bg-f3">
    <div class="container pt100 pb110">
        <div class="password">
            <h1>找回登陆密码</h1>
            <ul class="login-box">
                <li class="clearFix">
                    <span class="xf">手机号码</span>
                    <input type="text" class="xf input-width input-default" placeholder="请输入手机号码">
                </li>
                <li class="clearFix">
                    <span class="xf">验证码</span>
                    <input type="password" class="xf input-width" placeholder="请输入图片验证码">
                    <img class="imgyzm xf" src="./Web/Admin/View/Public/Images/yam.png">
                </li>
                <li class="clearFix">
                    <span class="xf">短信码</span>
                    <input type="password" class="xf input-width" placeholder="请输入短信验证码">
                    <div class="xf">
                        <a class="btn btn-green dxyzm">获取验证码</a>
                    </div>
                </li>
                <li>
                    <a class="btn btn-danger a-down">下一步</a>
                </li>
            </ul>
            <ul class="login-box">
                <li class="clearFix">
                    <span class="xf">设置密码</span>
                    <input type="password" class="xf input-default" placeholder="请输入密码">
                </li>
                <li class="clearFix">
                    <span class="xf">确认密码</span>
                    <input type="password" class="xf input-default" placeholder="请确认密码">
                </li>
                <li>
                    <input type="submit" class="btn btn-danger btn-input" value="提交">
                </li>
            </ul>
        </div>
    </div>
</div>
<include file="Public:footer"/>
