@charset "utf-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,
h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,
big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,
strike,sub,sup,tt,var,dl,dt,dd,ol,ul,li,i,fieldset,form,
label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
    margin:0;padding:0;border:0;outline:0;font-weight:inherit;
    font-style:inherit;vertical-align:baseline;list-style:none;}
body,a{text-decoration:none;}
body{min-width:1170px;font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;line-height: 1.42857143;color: #333;background-color: #fff;}
input:focus{outline:none;-moz-outline:none;}
/*input[type='text']{padding:4px 6px;}*/
input[type='text']:focus,input[type='password']:focus,
textarea:focus,select:focus{border:1px solid #00a0ff!important;
-webkit-box-shadow:0 0 0 #e66867!important;outline:none;}
input[type='radio']{border:none;}
select{border:1px solid #ddd;-webkit-border-radius:3px;-moz-border-radius:3px;padding:4px 6px;}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance:none;}
input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px white inset;}
input::-ms-clear{display:none;}
a:link,a:visited, a:active {color:#555;}
a:hover{color:#eb5405;}
img{border:0;}
/*圆角3像素*/
.radius{border-radius:3px;}
.tlRadius{border-top-left-radius:3px;}
.trRadius{border-top-right-radius:3px;}
.blRadius{border-bottom-left-radius:3px;}
.brRadius{border-bottom-right-radius:3px;}
/*无圆角*/
.br0{border-radius:0!important;}
.no-border{border:0!important;}
.b-border{border-bottom: 1px solid transparent!important;}
/*颜色*/
.green{color:#238e23;}
.red{color:#f04033;}
.blue{color:#0fadec;}
.yellow{color:#ec5305!important;}
.cl-e1{color:#e1e1e1;}
.cl-333{color:#333;}
.cl-444{color:#444;}
.cl-666{color:#666;}
.cl-999{color:#999;}
.cl-fff{color:#fff;}

.bg-blue{background:#0089cd;color:#fff;}
.bg-gray{background:#e0e0e0;}
.bg-e1{background:#e1e1e1;}
.bg-white{background:#fff;}
.no-bg{background:none;}
.bg-f3{background-color:#f3f3f3;}

/*文字居中*/
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}

/*显示隐藏*/
.none{display:none;}
.block{display:block;}
.inline-block{display:inline-block;}

/*浮动*/
.xf{float:left;}
.xr{float:right;}

/*清除浮动*/
.clear{clear:both;}
.clearFix{*zoom:1;}
.clearFix:after{display:block;clear:both;height:0;content:"";}

/*定位*/
.relative{position:relative;}
.absolute{position:absolute;}

/*超出隐藏*/
.overflow{overflow:hidden;}
.overflow-x{overflow-x:hidden;}
.overflow-y{overflow-y:hidden;}
.overflow-x-scroll{overflow-x:scroll;}
.overflow-y-scroll{overflow-y:scroll;}

/*首行缩进*/
.text-indent{text-indent:2em;}

/*鼠标手*/
.cursor{cursor:pointer;}

/*字体*/
.bold{font-weight: bold;}
.ft12{font-size:12px;}
.ft14{font-size:14px;}
.ft16{font-size:16px;}
.ft18{font-size:16px;}
.ft20{font-size:16px;}
.ft22{font-size:22px;}
.ft24{font-size:24px;}
.ft26{font-size:26px;}
.ft28{font-size:28px;}
.ft30{font-size:30px;}
.ft32{font-size:32px;}

/*内边距*/
.p_default{padding:20px 30px;}
.p0-30{padding:0 30px;}
.p0{padding:0!important;}
.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}
.p25{padding:25px;}
.p30{padding:30px;}
.p35{padding:35px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt50{padding-top:50px!important;}
.pt80{padding-top:80px!important;}
.pt100{padding-top:100px!important;}
.pt120{padding-top:120px!important;}
.pl0{padding-left:0;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl25{padding-left:25px;}
.pl30{padding-left:30px;}
.pb0{padding-bottom:0;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb110{padding-bottom:110px!important;}
.pr0{padding-right:0;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr25{padding-right:25px;}
.pr30{padding-right:30px;}

/*外边距*/
.mauto{margin:0 auto;}
.m5{margin:5px;}
.m10{margin:10px;}
.m15{margin:15px;}
.m20{margin:20px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px!important;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr30{margin-right:30px;}

/*高度*/
.h5{height:5px;}
.h10{height:10px;}
.h15{height:15px;}
.h20{height:20px;}
.h25{height:25px;}
.h30{height:30px;}
.h40{height:40px;}
.h150{height:150px;}
.h300{height: 300px!important;}
.h500{height: 500px!important;}
.line24{line-height:24px;}
.line30{line-height:30px;}
.line34{line-height:34px;}
.line26{line-height:26px;}
.line28{line-height:28px;}
.line40{line-height:40px;}
.line50{line-height: 50px;}
.line100{line-height: 100px;}

/*宽度*/
.w20{width:20px !important;}
.w50{width:50px !important;}
.w60{width:60px !important;}
.w80{width:80px !important;}
.w100{width:100px !important;}
.w120{width:120px !important;}
.w150{width:150px !important;}
.w180{width:180px !important;}
.w190{width:190px !important;}
.w230{width:230px !important;}
.w310{width:310px !important;}
.w315{width:315px !important;}
.w400{width:400px !important;}
.w500{width:500px !important;}
.w600{width:600px !important;}
.w700{width:700px !important;}
.w950{width: 950px!important;}
.w205{width:205px !important;}
.w66{width:66.6667% !important;}
.w95{width:1150px!important;}

/*按钮*/
.btn {display: inline-block;padding: 4px 12px;margin-bottom: 0;
    font-size: 14px;font-weight: normal;line-height: 1.42857143;
    text-align: center;white-space: nowrap;vertical-align: middle;
    -ms-touch-action: manipulation;touch-action: manipulation;
    cursor: pointer;-webkit-user-select: none;-moz-user-select: none;
    -ms-user-select: none;user-select: none;background-image: none;
    border: 1px solid transparent;border-radius: 4px;}
.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: thin dotted;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;
}
.btn:hover,.btn:focus,.btn.focus{color: #333;text-decoration: none;}
.btn-blue{background-color:#0fadec;color:#fff!important;}
.btn-blue:hover{background-color:#00a2ee;cursor:pointer;}
.btn-yellow{background-color:#f5a624;color:#fff!important;}
.btn-yellow:hover{background-color:#f3990c;cursor:pointer;}
.btn-green{background:#5db75d;color:#fff;}
.btn-green:hover,.btn-green:focus{color:#fff !important;background-color:#72cc72;}
.btn-button{background:#f3f3f3;color:#666666;margin-right:10px;
    border:1px solid #cdcdcd !important;float:left;}
.btn-button:hover,.btn-button:focus{color:#333;
    text-decoration:none;background-color:#e6e6e6;}
.btn-default{color: #333;background-color: #fff;border-color: #ccc;}
.btn-default:hover{background-color:#e4e4e4;}
.btn-light,.btn-dark,.btn-light-sm{
    display:inline-block;width:220px;height:36px;line-height:36px;
    color:#fff;text-align:center;background:#2d87c1;border:0;
    border-radius:3px;cursor:pointer;}
.btn-dark{background:#eaedf1;color:#666;border:1px solid #ddd;}
.btn-light-sm{width:60px;height:30px;line-height:30px;}
.bc-normal{background-color:#fff !important;}
.btn-grey{background:#99999999;color:#666666;margin-right:10px;
    border:1px solid #cdcdcd !important;float:left;}
.btn-danger {
    color: #fff!important;
    background-color: #eb5405;
    border-color: #eb5405;
}
.btn-danger:hover {
    color: #fff;
    background-color: #fd6620;
    border-color: #eb5405;
}
/*图标*/
.iconAll{display:inline-block;vertical-align:middle;
    background:transparent url('../../Public/Images/iconAll.png') no-repeat scroll 0 0;
    width:40px;height:40px;}















































































