<div class="footer">
    <div class="container clearFix">
        <div class="xf">
            <ul class="list">
                <li><a href="./?c=Index&a=index">首页&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a></li>
                <!--li><a href="#">产品与服务&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a></li-->
                <li><a href="./?c=Members&a=members">集团成员&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href="./?c=Aboutus&a=aboutus">关于我们</a></li>
            </ul>
            <p>联系地址：上海市浦东新区崂山路526号江苏大厦14楼B5</p>
            <P>Copyright © 2016 smartwincapital.com , All Rights Reserved  <a href="http://www.rongli.com" target="_blank">技术支持</a></P>
            <ul class="reList">
                <li>友情链接：</li>
                <li><a href="./?c=Index&a=index" target="_blank">首页 | </a></li>
                <li><a href="http://www.moneyweekly.com.cn/" target="_blank">理财周刊 | </a></li>
                <li><a href="http://www.amoney.com.cn/" target="_blank">第一理财网 | </a></li>
                <li><a href="http://www.jiyuan.com" target="_blank">极元财富 | </a></li>
                <li><a href="http://www.caigu.com/" target="_blank">财顾网 | </a></li>
                <li><a href="http://www.rongli.com" target="_blank">融利网</a></li>
            </ul>
        </div>
        <div class="xr">
            <div class="weChat">
                <div class="iconAll"></div>
                <p>扫码关注微信公众号</p>
            </div>
            <div class="qgCode">
                <img src="./Web/Admin/View/Public/Images/qgCode.jpg">
            </div>
        </div>
    </div>
</div>
</body>
</html>
