<div class="footer">
    <div class="container clearFix">
        <div class="div">
            <ul class="list">
                <li><a href="./?c=Index&a=index">首页&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href="./?c=Aboutus&a=notice">新闻动态&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href="./?c=Product&a=productlist">旗下产品&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href="./?c=Aboutus&a=team">管理团队&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href="./?c=Aboutus&a=recruit">招贤纳士&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href="./?c=Aboutus&a=aboutus">联系我们</a></li>
            </ul>
            <p>联系地址：804A，8/f,k.Wah Centre 191 java Road, North Point,Hong Kong</p>
        </div>
    </div>
</div>
</body>
</html>