<!DOCTYPE HTML>
<html>
<head>
<title>费腾fermi博客--你的名字</title>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KZDRT3S');</script>
<!-- End Google Tag Manager -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/Public/Bootstrap/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!-- <link href='/Public/Home/css/font.css' rel='stylesheet' type='text/css'> -->
<link href="/Public/Home/css/style.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="/Public/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css">
<!-- <link rel="stylesheet" href="/Public/font-awesome-3.2.1/css/font-awesome.min.css"> -->
<link href="/Public/Home/css/pintuer.css" rel='stylesheet' type='text/css' />
<link href="/Public/google/Css/googlemap.css" rel='stylesheet' type='text/css' />
<link href="/Public/flipTimer/css/flipTimer.css" rel='stylesheet' type='text/css' />
<script src="/Public/jquery/jquery-2.0.3.min.js"></script>
<script src="/Public/Home/Js/jquery-form.js"></script>
<!-- <script src="/Public/Bootstrap/Js/bootstrap.min.js"></script> -->
<!-- <script src="/Public/Home/Js/Backend.js"></script> -->
<script src="/Public/Home/Js/highcharts.js"></script>
<script src="/Public/Home/Js/echarts.js"></script>
<script src="/Public/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
<!-- layui-UI -->
<link href="/Public/layui/css/layui.css" rel="stylesheet">
<script src="/Public/layui/layui.js"></script>
<!-- animation-effect -->
<link href="/Public/Home/css/animate.min.css" rel="stylesheet">
<script src="/Public/Home/Js/wow.min.js"></script>
<script src="/Public/masonry/masonry.pkgd.min.js"></script>
<!-- pintuer.js -->
<script src="/Public/Home/Js/pintuer.js"></script>
<!-- flipTimer -->
<script src="/Public/flipTimer/js/jquery.flipTimer.js"></script>
<script>
 new WOW().init();

 $(function(){
    $('.dowebok').flipTimer();
});
</script>
<!-- //animation-effect -->
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZDRT3S"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="header" id="ban">
  		<div class="container">
  			<!-- <div class="head-left wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
  				<div class="header-search">
  						<div class="search">
  							<input class="search_box" type="checkbox" id="search_box">
  							<label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
  							<div class="search_form">
  								<form action="#" method="post">
  									<input type="text" name="Search" placeholder="Search...">
  									<input type="submit" value="Send">
  								</form>
  							</div>
  						</div>
  				</div>
  			</div> -->
  			<div class="header_right wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
  			<nav class="navbar navbar-default">
  				<!-- Brand and toggle get grouped for better mobile display -->
  				<div class="navbar-header">
  					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
  						<span class="sr-only">Toggle navigation</span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  					</button>
  				</div>

  				<!-- Collect the nav links, forms, and other content for toggling -->
  				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
  					<nav class="link-effect-7" id="link-effect-7">
  						<ul class="nav navbar-nav">
  							<li class="active act shake-hover"><a href="{:U('Index/index')}">主页</a></li>
                <li class="shake-hover"><a  target="_blank" href="#">图瀑</a></li>
                <li class="shake-hover"><a  target="_blank" href="{:U('Article/articleList')}">文章列表</a></li>
  							<li class="shake-hover"><a  target="_blank" href="#">PHP</a></li>
  							<li class="shake-hover"><a  target="_blank" href="#">PYTHON</a></li>
  							<li class="shake-hover"><a  target="_blank" href="http://music.163.com/#/user/home?id=100410456">网易云</a></li>
  							<li class="shake-hover"><a  target="_blank" href="http://weibo.com/594feiteng">微博</a></li>
  							<li class="shake-hover"><a  target="_blank" href="http://github.com/zealerFT">github</a></li>
  						</ul>
  					</nav>
  				</div>
  				<!-- /.navbar-collapse -->
  			</nav>
  			</div>
  			<div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
  					<ul>
              <li><a href="{:U('Login/snslogin', array('type' => 'qq'))}" class="qq"><img src="/Public/Home/images/qq.png" alt="" /></a></li>
              <li><a href="{:U('Login/snslogin', array('type' => 'weixin'))}" class="weixin"><img src="/Public/Home/images/weixin.png" alt="" /> </a></li>
              <li><a href="{:U('Login/snslogin', array('type' => 'weibo'))}" class="weibo"><img src="/Public/Home/images/weibo.png" alt="" /> </a></li>
  					</ul>
  			</div>
  			<div class="clearfix"> </div>
  		</div>
  	</div>
