<include file="Public:new_header"/>
<div id="agreement">
    <div class="container">
        <div class="a_div">
            <div class="ft26 text-center d_a">置富理财服务协议</div>
            <p>置富理财投资管理股份有限公司（以下简称“本公司”）欢迎阅读置富理财SAAS服务平台服务
                条款协议(以下简称“本协议”)。本协议阐述之条款和条件适用于您所使用的本网站SAAS服务平
                台网站置富理财（所涉域名: http://www.smartwincapital.com/）。当您点击“同意”按
                钮，说明您已经接受以下条款。如果您不同意以下条款，您必须选择“离开”，即：您不同意使用
                置富理财提供的软件服务！
            </p>
            　<div>一、服务条款的确认和接纳</div>
            <p>
                以任何方式进入置富理财即表示您同意本人与置富理财订立本协议，且您将受本协议条款和条件
                (“条款”)的约束。 置富理财可随时自行全权决定更改“条款”。您应在第一次登录后仔细阅读修
                订后的“条款”，并有权选择停止继续使用“服务”； 一旦您继续使用“服务”，则表示您已接受经
                修订后的“条款”，当您与置富理财SAAS服务平台发生争议时，应以最新的服务协议为准。 除另
                行明确声明外，任何使“服务”范围扩大或功能增强的新内容均受本协议约束。
            </p>
            <div>二、权利及义务</div>
            <p>
                “服务”仅供能够根据相关法律订立具有法律约束力的合约的个人或公司使用。因此，您的年龄必须在
                十八周岁或以上，才可使用本公司服务。如不符合本项条件， 请勿使用“服务”。置富理财可随时自行
                全权决定拒绝向任何人士提供“服务”。“服务”不会提供给被暂时或永久中止资格的置富理财会员。
                对于本网站的会员，享有以下权利及义务：<br>
                1．尊重会员隐私制度<br>
                为了协作和提供服务，我们会收集您的某些信息。对这些信息的使用和保护如《隐私说明》中所述。
                尊重会员个人隐私、 保障会员隐私安全是置富理财的一项基本政策，置富理财不会公开、编辑或透露
                会员的注册资料，除非符合以下情况：<br>
                (1) 根据中华人民共和国国家安全机构、公安部门的要求及根据相应的法律程序要求。<br>
                (2) 维护置富理财的商标所有权及其它权益。<br>
                (3) 在紧急情况下竭力维护会员个人、其它社会个体和社会大众的安全。<br>
                (4) 严重违反置富理财有关规定。<br>
                置富理财保留结束会员使用网络服务资格的权利，并保证结束会员资格后仍为会员保密所有个人隐私。
                您可以访问 《隐私说明》中的隐私策略， 以阅读有关此信息的详细内容。<br>
                2．维护置富理财的正常工作，提供网络服务。<br>
                为了协作和提供服务，我们会收集您的某些信息。对这些信息的使用和保护如《隐私说明》中所述。
                此外，我方还可以访问或者透露关于您的信息， 包括您通讯的内容，以：<br>
                (a) 遵守法律、响应司法要求或法律程序；<br>
                (b) 保护置富理财及其客户的权利、财产，包括协议的执行和遵守适用于服务的策略；或<br>
                (c) 保护置富理财及其雇员、客户和公众的权利、财产或安全。 我方可采取技术或其他措施以保护
                服务，保护我们的客户， 或阻止您违反本合同。这些措施可能包括，例如，通过过滤来阻止垃圾邮件
                或提高安全级别。这些措施可能阻止或中断您对服务的 使用。 为了向您提供服务，我方可收集有关
                服务状况，您的机器和您对服务的使用的某些信息。我方有权从您的机器自动上传这些信息。 这些数
                据不会构成对您私人身份的确认。您可以访问 《隐私说明》中的隐私策略，以阅读有关此信息的详细内容。<br>
                3．会员管理置富理财对会员的管理依据国家法律、地方法律和国际法律等的标准，同时会员在本网站论坛
                上的行为将受置富理财论坛行为准则的约束。<br>
                4．对会员信息的存储和限制置富理财不对会员所发布信息的删除或储存失败任何法律负责。置富理财有判
                定会员的行为是否符合本公司服务 条款的要求和精神的保留权利，如果会员违背了服务条款的规定，本公
                司有权选择适当的处理方法直至取消会员资格的权利。<br>
                5．迅速处理会员投诉。<br>
            </p>
            <div>三、服务条款的修改与修订</div>
            <p>
                置富理财有权在必要时修改服务条款，置富理财服务条款一旦发生变动，将会在重要页面上提示修改内容。
                如果不同意所改动的内容， 会员可以在指定的讨论区中讨论、投诉或者申请取消网络服务，但是在修正前
                必须执行现行的服务条款。置富理财保留随时修改或中断服务 而不需知照用户的权利。置富理财行使修改
                或中断服务的权利，不需对用户或第三方负责。 对于涉及有偿服务的改动置富理财承担相关法律责任。
            </p>
            <div>四、注册条款</div>
            <p style="text-indent: 0;">
                4.1 注册须知<br>
                如您在置富理财注册，您同意：<br>
                (a) 根据会员注册页面所刊载的会员资料表格的要求，提供关于您或贵公司的真实、准确、完整和反映当前情况的资料；<br>
                (b) 维持并及时更新会员资料，使其保持真实、准确、完整和反映当前情况。倘若您提供任何不真实、不准确、不完整或
                不能反映当前情况的资料， 或置富理财有合理理由怀疑该等资料不真实、不准确、不完整或不能反映当前情况，置富理财
                有权暂停或终止您的注册身份及资料，并拒绝您在目前 或将来对“服务”(或其任何部份) 以任何形式使用。如您代表一家
                公司或其他法律主体在本公司登记，则您声明和保证，您有权使该公司或其他法律 主体受本协议“条款”约束。<br>
                4.2 会员注册名、密码和保密在登记过程中，您将选择会员注册名和密码。您须自行负责对您的会员注册名和密码保密，
                且须对您在会员注册名和密码下发生的所有活动承担责任。您同意：<br>
                (a) 如发现任何人未经授权使用您的会员注册名或密码，或发生违反保密规定的任何其他情况，您会立即通知置富理财；<br>
                (b) 确保您在每个上网时段结束时，以正确步骤离开网站。置富理财不能也不会对因您未能遵守本款规定而发生的任何损失或损毁负责。<br>
                4.3 关于您的资料的规则您同意 “您的资料”：<br>
                a. 不会有欺诈成份。<br>
                b. 不会侵犯任何第三者对该物品享有的物权，或版权、专利、商标、商业秘密或其他知识产权，或隐私权、名誉权。<br>
                c. 不会违反任何法律、法规、条例或规章 (包括但不限于关于规范出口管理、贸易配额、保护消费者、不正当竞争或虚假广告的法律、法规、条例或规章)。<br>
                d. 不会含有诽谤（包括商业诽谤）、非法恐吓或非法骚扰的内容。<br>
                e. 不会含有淫秽、或包含任何儿童色情内容。<br>
                f. 不会含有蓄意毁坏、恶意干扰、秘密地截取或侵占任何系统、数据或个人资料的任何病毒、伪装破坏程序、电脑蠕虫、定时程序炸弹或其他电脑程序。<br>
                g. 不会直接或间接与下述各项货物或服务连接，或包含对下述各项货物或服务的描述：
                (i) 本协议项下禁止的货物或服务；或 (ii) 您无权连接或包含的货物或服务。 此外，您同意不会：(h) 在与任何连锁信件、
                大量胡乱邮寄的电子邮件、滥发电子邮件或任何复制或多余的信息有关的方面使用“服务”；(i) 未经其他人士同意， 利用“服务”
                收集其他人士的电子邮件地址及其他资料；或 (j)利用“服务”制作虚假的电子邮件地址，或以其他形式试图在发送人的身份或信息的来源方面误导。
            </p>
            <div>五、通告</div>
            <p>
                置富理财所有发给会员的通告都可通过重要页面的公告或电子邮件。服务条款的修改、服务变更、或其它重要事件的通告都会以此形式进行。
                对于置富理财的系统通告，用户必须接受，如果有意义用户有权投诉。
            </p>
            <div>六、收费</div>
            <p>本公司保留在根据第一条通知您后，收取“服务”费用的权利。您因进行交易、向本公司获取有偿服务或接触本公司服务器而发生的所有应纳税赋，
                以及相关硬件、 软件、通讯、网络服务及其他方面的费用均由您自行承担。本公司保留在无须发出书面通知，仅在置富理财络SAAS服务平台网站
                公示的情况下，暂时或永久地更改 或停止部分或全部“服务”的权利。此条款不适用于我公司许可免费试用客户①。
            </p>
            <div>七、通知确认</div>
            <p>
                您可以按照为本服务在客户支持或“帮助”部分所指明的方式向我们发出通知。我方不接受以电子邮件所作的通知。<br>
                我方向您发出通知，同意使用电子信息。<br>
                本合同系电子形式。我方承诺向您发送与本服务有关的特定信息，并有权向您发送某些附加信息。我方可能还会向您发送法律要求发送的有关本服务的其他信息。
                我方可以电子形式向您发送这些信息。您有权取消您的同意，但如果您取消，我方可取消对您的服务。 我方可以下列方式向您提供必需的信息：
                通过您在注册本服务时所指明的电子邮件地址向您发送电子邮件； 在信息可供使用时，通过在向您发送的电子邮件通知中指明供访问的某一用友网站；
                或 通过访问为此目的而通常事先指定的某一用友网站。 通过电子邮件向您发出的通知将被视为在该电子邮件中标明的传输日期发送并且收到。
                在您能够访问和使用本服务期间，您拥有必要的软件和硬件以接受此类通知。如果您不同意以电子形式接受任何通知，那么您应当停止使用本服务。
            </p>
            <div>八、第三方网站链接</div>
            <p>
                提供与第三方网站的链接仅仅为了给您带来方便。如果您使用这些链接，将离开融利科技。融利科技没有审查过所有这些第三方站点，
                对任何这些站点及其内容或它们的保密政策不进行控制，也不负任何责任。因此，我们对这些网站上的任何信息、软件以及其它产品或材料，
                或者通过使用它们可能获得的任何结果不予认可，也不作任何表述。如果您决定访问本站点链接的任何第三方站点，其风险完全由您自己承担。
            </p>
            <div>九、不可抗力</div>
            <p>
                对于因本公司合理控制范围以外的原因，包括但不限于自然灾害、罢工或骚乱、物质短缺或定量配给、暴动、战争行为、政府行为、
                通讯或其他设施故障或严重伤亡事故等，致使本公司延迟或未能履约的，本公司不对您承担任何责任。
            </p>
            <div>十、法律和管辖</div>
            <p>
                网络服务条款要与中华人民共和国的法律解释相一致，会员和融利科技一致同意服从中国法院管辖。如发生融利科技服务条款与中华人民共和国法律相抵触时，
                以法律为准，同时这些条款将完全按法律规定重新解释，而其它条款则依旧保持对会员产生法律效力和影响。任何因有关使用本站而发生的诉讼均应提交位于
                北京的有管辖权的人民法院。如果您还有疑问，您可以直接给我们客服中心留言，或拨打我们客服电话。杭州泓度软件科技有限公司对以上条款有最终解释权。
            </p>
        </div>
    </div>
</div>
<include file="Public:new_footer"/>
